article {
  border-style: solid;
  border-width: 2px;
  color:  #000000;
  margin-top: 2em;
  width: 90%;

}

article:hover {
  box-shadow: 13px 7px  #3e508ab7;
}

article .top {
  display: flex;
  padding: 1em 1em 0em 1em;
}

article .top img {
  padding-right: 1.25em;
  align-self: flex-end;
}

article .top h3 {
  color: #717ea6;
  font-size: 2rem;
}

article .top p { 
  display:flex;
  align-items: center;
  padding: 0rem 6rem 0rem 2rem;
  font-size: 1.5rem;
  color: rgb(83, 83, 83);
  margin-left: auto
} 

article .mid p {
  word-break: break-all;
  margin: 0rem 7rem 2rem;
}

article .bot {
  display: flex;
  justify-content: space-between;
  border-top-style: ridge;
  padding: 0.5em 1em;
}

article .bot em {
  color: rgb(83, 83, 83);
}

i  {
  padding: 7px;
  color: #4056A1;
}

i:hover {
  color: #ffa502;
}



@media screen and (max-width: 960px) {
  article .top {
     padding: 0em 1em 0em 1em;
   
   }
 
   article .top h3 {
     color: #717ea6;
     font-size: 1.5rem;
   }
   
   article .top p { 
     padding: 0rem 6rem 0rem 2rem;
     font-size: 1.25rem;
   } 
   
   article .mid p {
     margin: 0rem 5rem 0.5rem;
   }
   
   article .bot em {
     font-size: 1rem;
   }
 }

 @media screen and (max-width: 720px) {
 article .top h3 {
     color: #717ea6;
     font-size: 1rem;
 }
 article .top p { 
     padding: 0rem 6rem 0rem 2rem;
     font-size: 0.75rem;
 } 
 article .mid p {
     margin: 0rem 5rem 0.5rem;
     font-size: 1rem;
 }
 article .bot em {
     font-size: 1rem;
 }
}